html {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.5em;
}



body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../img/chibg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

html,
body {
    height: 100%;
}

.flex-container {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

/*==============================TOP SECTION=======================================================================*/

.top {
    display: flex;
}

#top {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid black;
    background: linear-gradient(to bottom right, forestgreen, limegreen);
    display: inline-flex;
    flex-flow: row wrap;
    margin: auto;
    align-items: center;
    text-align: center;
}

/* TITLE************************************************************************** */

.title {
    background: black;
    color: limegreen;
    font-size: 4rem;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-weight: bolder;
    padding: inherit;
    text-align: center; 
}

.titleBox {
    background: black;
    border: 5px double limegreen;
    padding: 1rem;
    display: inline-flex;
    flex-flow: row wrap;
}


.titleBox:hover>.title {
    background: limegreen;
    color: black;
}

.titleBox:hover {
    border: 5px solid white;
}

#top:hover {
/*   add animations rahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
}

/* MOBILE NAV***************************************************************************************** */
/* viewpot 440 or 450 QUERIES========= */
.menuIconHam {
    display: flex;
    flex-flow: column wrap;
    background: black;
    border-radius: 0.5rem;
    height: 0.5rem;
    margin: 0.5rem;
    align-self: auto;
    width: 25%;
    position: relative;
}

/* ==============================Mobile NAV================================== */

.mobileDropBox {
    /* display: none; */
    position: relative;            
    width: 80%;
    display: block;
}

.mobileDrop {
    width: 60vw;
    position: relative;
    color: black;
    display: flex;
    flex-flow: column wrap;
    text-shadow: 0 0 4px white;
    justify-content: center;
    align-self: center;
}

.mobileDropContent {
    display: none;
    flex-flow: column wrap;
    text-align: center;
    position: absolute;
    text-align: center; 
    margin-top: 4.5vw;
    margin: 0;
    
}

.mobileDropSubItem {
    display: none;
    flex-flow: column wrap;
    position: absolute;
    margin-top: 0;
    margin-left: 30vw;
    background: limegreen;
    text-align: center;
    word-break: break-all;
}

.mobileDropSubItem a {
    padding: 0.1em;
}

.mobileDropSubItem:hover a {
   color: black;
}

.mobileDropItem {
    display: inline-flex;
    flex-flow: row wrap;
    background: white;
    justify-content: space-around;
        background: limegreen;
}

.mobileDropItem a {
    word-break: break-all;
    background: limegreen;
    width: 15vw;
    border: 0.1rem solid black;
}

.mobileDropBox:hover>.mobileDropContent {
    display: flex;
}

.mobileDropItem:hover>.mobileDropSubItem {
    display: inline-flex;
}

.mobileDropItem a:hover{
    color: white;
    background: black;
}

.mobileDropSubItem a:hover {
    background: black;
    color: white;
}

/* DROP NAV*************************************************************************** */

.navPad {
    width: 50rem;
}

.topNav {
    width: 100%;
    align-items: center;
    font-size: 2rem; 
    display: inline-flex;
    justify-content: space-between;
}

.dropDown {
    position: relative;
    margin-right: 5rem;
    display: none;
}

.hoverLink {
    position: relative;
    text-align: center;
    color: black;
    margin: .5rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    text-shadow: 0 0 4px white;
}

.dropContent {
    display: flex;
    position: absolute;
    display: none;
    margin: auto;
    text-align: center;
    background:  linear-gradient(to bottom right, black, grey);
    padding: 0 2rem;
}

.dropDown:hover>.hoverLink {
    background: linear-gradient(to bottom right, black, grey);
    color: white;
    border: 5px double black;
    border-radius: 0.5rem;
    margin: 0;
}

.dropDown:hover>.dropContent {
    display: flex;
    flex-flow: column wrap;
}


.dropItem:hover {
    background: black;
    color: white;
    border: .1vw solid white;
}

.dropItem {
    border: 0.1vw solid black;
    padding: 2rem;
    object-fit: fill;
    background: limegreen;
}


/*  =============================CONTNET MISC==============================================*/
.content {
    margin-top: 15rem;
}

#content {
    justify-content: center;
    align-items: center;
    background: rgba(192,192,192, 0.3);
    width: 80%;
    object-fit: fill;
    padding: 2rem;
    border-radius: 1rem;
    -moz-box-shadow: inset 0 0 10px limegreen;
    -webkit-box-shadow: inset 0 0 10px limegreen;
    box-shadow: inset 0 0 10px limegreen;
}


/* =============================================INDEX HTML========================================================== */

.aboutContainer {
    display: flex;
    flex-flow: column wrap;
    word-break: break-word;
}

.aboutTitleBox {
    background: linear-gradient(to bottom right, forestgreen, limegreen);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
}

#coverLetter {
    display: inline-flex;
}

picture img {
          outline: 1px solid red;
    	width: 20vw;
    	min-height: 20vh;
    	margin: 0; padding: 0;
    	flex-grow: 1;
    	overflow: hidden;
    	box-sizing: border-box;
        object-fit: contain;
        outline: 5px solid red;
}

#qualify {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.qualifyTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    padding: 0;
    top: 0;
    text-shadow: 0 0 0.5px limegreen;
    font-size: 2rem;
    flex-grow: stretch;
}

.qualifyBox {
    background: rgba(245, 245, 245, 0.8);
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0rem 5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-grow: 1;
    	box-sizing: border-box;
        object-fit: contain;
    margin: 1rem;
}

.qualifyContent {
    height: 100%;
    width: 100%;
}

.qualifyItem p {
    text-align: left;
}

/* ============================CONTACT HTML============================================= */

label {
    font-size: 2rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 0.1rem solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    font-family: inherit;
    font-weight: inherit;
    font-size: 2rem;
    color: limegreen;
    padding: 12px 20px;
    border: 5px solid limegreen;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: limegreen;
    color: black;
    border: 5pX solid whitesmoke;
}


/* ====================================PORTFOLIO HTML========================================= */

.workNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.workBox {
    border: 1rem solid black;
    outline: .1rem solid limegreen;
    padding: 0.1rem;
    margin: 0.5rem;
    background: linear-gradient(to bottom right, forestgreen, limegreen);    
}

.workBox:hover {
    background: white;
    -moz-box-shadow:    inset 0 0 50px limegreen;
    -webkit-box-shadow: inset 0 0 50px limegreen;
    box-shadow: inset 0 0 50px limegreen;
}

.workBox:hover>h2 {
    color: white;
}

.workTitle {
    font-family: 'IBM Plex serif', serif;
    font-size: 2rem;
}


/* ==========================================STICKY FOOTER=================================================== */

.content {
    flex: 1 0 auto;
}

.footPad {
    display: felx;
    background: linear-gradient(black 85%, limegreen);
    margin-bottom: 0;
    border: 1px solid black;
}

.footer {
    display: flex;
    flex-shrink: 0;
    height: 50%;
    border-top: 0.1rem solid limegreen;
    outline: 1px solid limegreen;
    background-image: url(../img/footerbg.jpg);
    -moz-box-shadow:    inset 0 0 100px black;
    -webkit-box-shadow: inset 0 0 100px black;
    box-shadow: inset 0 0 100px black;
}

.footNav {
    align-items: center;
    align-items: space-around;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
}

.footLink:nth-child(2){
    border-radius: 50%;
    font-size: 2.5rem;
}

.footLink {
    font-family: inherit;
    background: rgba(0, 0,0, 0.6);
    color: whitesmoke;
    text-shadow: 0 0 4px limegreen;
    margin: 0.5rem;  
    padding: 1rem;
    font-size: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.1rem;
    -moz-box-shadow:    inset 0 0 5px limegreen;
    -webkit-box-shadow: inset 0 0 5px limegreen;
    box-shadow: inset 0 0 5px limegreen;
}

.footLink:hover {
    background: rgba(255, 255,255 , 0.5);
    color: black;
}



/*================================================================================
    @media only screen and (max-width : 700px) {
        .hoverLinkBoxIn:hover>.dropDown {
            display: inline-flex;
            flex-flow: column wrap;
        }



html {
    font-size: 1.7vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: whitesmoke;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    margin: auto 0;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
}

/* ===============================TOP NAV BAR============================================== */

/*
#top {
    position: fixed;
    border-bottom: 10px solid black;
    z-index: -2;
}

.topTitle {
    background: black;
    color: limegreen;
}

.topTitle a {
    text-decoration: none;
    color: whitesmoke;
    word-break: break-word;
    border: 2.5vw solid black;
    font-size: 4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topNav {
    display: flex;
    flex-flow: row wrap;
    text-align: right;
}

ul li {
    padding: 2vw;
    border: 0.1vw solid black;
    background: limegreen;
    text-align: center;
}


li:hover {
    background: whitesmoke;
}

li a {
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.link:hover .hide {
    display: block;
}

a:hover {
    background-color: whitesmoke;
}

*/




/* ============================================SNIPPETS========================================================= */
/*
html {
    font-size: 1.7vw;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: whitesmoke;
    width: 100%;
    }

.flex-container {
   display: flex;
   flex-flow: row wrap;
   align-items: center;

    }



#top {
    position: fixed;
    border-bottom: 0.3vw solid black;
    background: limegreen;
    width: 100%;
}

.top {
    width: 50%;
}

#top-nav {
    background: rgba(173, 255, 47);
    outline: 5px solid red;
    object-fit: cover;
}

.top-title {
    text-decoration: none;
    color: limegreen;
    background: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
    border: 2vw solid black;
    display: flex;
}

.top-nav-link {
    display: inline-flex;
    position: relative;
}

.dropdown {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    padding: inherit;
    position: absolute;
    align-self: auto;
    font-size: inherit;
    border: 0.1vw solid black;
}

ul {
   list-style: none;
   padding: 1vw;
}

ul li {
    background: limegreen;
    text-decoration: none;
    transition-duration: 0.5s; 
}

ul li a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li:hover {
    background-color: whitesmoke;
    border-right: 0.1vw solid black;
}

li:hover,
li:focus-within {
    background: whitesmoke;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: limegreen;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-flow: column wrap;
    object-fit: cover;
}

ul li ul li {
    clear: both;
    width: 100%;
}
*/